body{
    background-image: url("assets/example-image-for-html-background.png");
    background-position: center;
    background-size: cover;
    font-family: "quokka", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1{
    color:#483bd0;
}

h2{
    color: #483bd0;
}

h3{
    color: gold;
}
